<!-- Footer Section Begin -->
<footer class="footer set-bg mt-5" data-setbg="assets/img/imgfooter/footer-bg.jpg"style="background-repeat: no-repeat;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__newslatter">
                    <h6>Recette ...</h6>
                    <ul class="servi">
                        <li class="text-white"><a class="text-white" href="Javascript:void(0)"> recette1</a></li>
                        <li class="text-white"><a class="text-white" href="Javascript:void(0)"> recette2</a></li>
                        <li class="text-white"><a class="text-white" href="Javascript:void(0)"> recette3</a></li>
                        <li class="text-white"><a class="text-white" href="Javascript:void(0)"> recette4</a></li>
                        <li class="text-white"><a class="text-white" href="Javascript:void(0)"> recette5</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="assets/img/imgfooter/logo 2.png" style="width: 150px;" alt=""></a>
                    </div>
                    <p> +32 123 890 <br>
                        chocomousse@gmail.com <br>
                        Rue de chocolat 15
                        1060 Saint Gilles Belgique.</p>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__newslatter">
                    <h6>Newsletter</h6>
                    <p>Vous voulez nos derniere recette? </p>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit"><i class="fa fa-send-o"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <p class="copyright__text text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Sebastien & Kevin</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="col-lg-5">
                    <div class="copyright__widget">
                        <ul class="mb-0">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ===============================================-->