{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


        <section class="py-5 overflow-hidden header-text" id="home">
            <div class="container">
                <div class="row flex-center">
                    <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="ms-5 img-landing-banner" href="#!"><img class="img-fluid" src="{{ asset('assets/nouvelles img/browni2.jpg') }}" alt="hero-header" /></a></div>
                    <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
                        <h1 class="display-1 ms-5 fontBanner">Coeur Fondant</h1>
                        <h2 class="fontBanner2 ms-5">"Cœur de Chocolat : Laissez-vous envoûter par l'harmonie parfaite de saveurs exquises, soigneusement élaborées pour faire battre votre cœur de plaisir et vous offrir des moments de pure gourmandise."</h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pt-2 pb-5 mt-5" style="background-color: #392313;">
            <div class="container">
                <div class="col-lg-7 mx-auto text-center">
                    <h5 class="fw-bold fs-3 fs-lg-5 lh-sm text-white mt-5 fontBanner">Recettes populaire</h5>
                </div>
                <div class="row h-100 gx-2 mt-5">
                    <?php foreach($bestRecipes as $recipe): ?>
                    <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                        <div class="card card-span h-100 rounded-3">
                            <div class="position-relative">
                                <img
                                        class="img-fluid rounded-3 w-100"
                                        src="<?= $recipe['image_url'] ?>" alt="..." style="height: 250px;"/>
                            </div>
                            <div class="card-body px-0">
                                <h5 class="fw-bold text-1000 text-truncate ps-3">
                                    <?= $recipe['name'] ?>
                                </h5>
                                <div class="star-rating ps-3">
                                    <?php $stars = 5; ?>
                                    <?php for($i = 2; $i <= $recipe['average_stars']; $i += 2): ?>
                                    <?php --$stars; ?>
                                    <i class="fa fa-star <?= $i <= $recipe['average_stars'] ? 'text-warning' : '' ?>"></i>
                                    <?php endfor ?>
                                    <?php if($recipe['average_stars'] % 2 !== 0): ?>
                                    <?php --$stars; ?>
                                    <span class="position-relative">
                        <i class="fa fa-star-half text-warning"></i>
                        <i class="fa fa-star-half position-absolute" style="transform: scaleX(-1); left: 0px; top: 0.2rem;"></i>
                      </span>
                                    <?php endif ?>
                                    <?php for($i = 0; $i < $stars; $i++): ?>
                                    <i class="fa fa-star"></i>
                                    <?php endfor ?>
                                </div>
                            </div>
                            <a class="stretched-link" href="../membres/<?= $recipe['membre'] ?>"></a>
                        </div>
                    </div>
                    <?php endforeach ?>
                </div>
            </div>
            <!-- end of .container-->
        </section>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-span mb-3 shadow-lg mt-5 mb-3">
                            <div class="card-body px-0 py-0">
                                <div class="row justify-content-center">
                                    <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-md-0"><img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-start rounded-md-top-0" src="{{ asset('img/4.jpg') }}" alt="..." /></div>
                                    <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                                        <h1 class="card-title mt-xl-5 mb-4">Top 1 <span class="color">Macaron au chocolat fourée au marrons </span></h1>
                                        <p class="fs-1">Comment faire les macarons au chocolat avec une délicieuse ganache au marrons. Cette recette est très facile à la maison et inrratable pour avoir des beaux macarons croquants et au bon goût de chocolat</p>
                                        <div class="d-grid bottom-0"><a class="btn btn-lg mt-xl-6 text-white" style="background-color: #392313;" href="#!">En savoir plus<i class="fas fa-chevron-right ms-2"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->




        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-5" style="background-color: #392313;">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-span shadow-lg">
                            <div class="card-body px-0 py-0">
                                <div class="row justify-content-center">
                                    <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1"><img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-end rounded-md-top-0" src="{{ asset('img/2.jpg') }}" alt="..." /></div>
                                    <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                                        <h1 class="mt-xl-5 mb-4">Top 2 <span  class="color">Truffes au chocolat</span></h1>
                                        <p class="fs-1">Les truffes au chocolat sont des parfaits petits cadeaux à offrir à Noël. Et si vous les faisiez maison? Rien de plus facile grâce à notre recette.</p>
                                        <div class="d-grid bottom-0"><a class="btn btn-lg mt-xl-6 text-white" style="background-color: #392313;" href="#!">En savoir<i class="fas fa-chevron-right ms-2 text-white"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


        <section class="py-0">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-span mb-3 shadow-lg mt-5">
                            <div class="card-body px-0 py-0">
                                <div class="row justify-content-center">
                                    <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-md-0"><img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-start rounded-md-top-0" src="{{ asset('img/1.jpg') }}" alt="..." /></div>
                                    <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                                        <h1 class="card-title mt-xl-5 mb-4">Top 3 <span class="color">Cake au chocolat et au amandes grillée</span></h1>
                                        <p class="fs-1">Facile à préparer, le cake aux amandes fait partie des grands classiques du goûter. Cette recette de gâteau facile peut aussi s'adapter à un petit-déjeuner, un brunch ou même être servi pour le dessert, accompagné d'une salade de fruits par exemple.</p>
                                        <div class="d-grid bottom-0"><a class="btn btn-lg text-white  mt-xl-6" style="background-color: #392313;" href="#!">En savoir plus<i class="fas fa-chevron-right ms-2"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>


        <section class="py-0" style="background-color: #392313;">
            <div class="bg-holder">
            </div>
            <!--/.bg-holder-->

            <div class="container">
                <div class="row flex-center">
                    <div class="col-xxl-9 py-7 text-center">
                        <h1 class="fw-bold mb-4 text-white fs-6 fontBanner">Cœur de Chocolat : <br> Prêt à ajouter une nouvelle recette et à faire battre votre cœur encore plus fort ? </h1><a class="btn btn-danger" href="#">RETOUR VERS LE HAUT<i class="fas fa-chevron-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
