{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/teams/cake.css') }}" type="text/css">
{% endblock %}

{% block title %}Hello LauraController!{% endblock %}

{% block body %}
    <div class="gateaushadow">
        <div class="recipe">
            <div class="recipe_image">
                <img src="<?= $recipe->getSubRecipes()[0]->getImgUrl() ?>" alt="cakechoco" />
            </div>

            <div class="recipe_content">
                <div class="recipe_content_heading">
                    <h1 class="usg_text usg_text-heading"><?= $recipe->getName() ?></h1>
                </div>

                <div class="recipe_content_left-column">
                    <div class="recipe_content_left-column_time">
                        <div class="recipe_content_left-column_time_serves">
                            <p class="usg_text usg_text-times"><span class="usg_text-times--text">Servis:</span> <?= $recipe->getNbPeople() ?> personne<?= $recipe->getNbPeople() > 1 ? 's' : '' ?></p>
                        </div>
                        <div class="recipe_content_left-column_time_prep">
                            <p class="usg_text usg_text-times"><span class="usg_text-times--text">Preparation:</span> <?= $recipe->getPreparationTimeToString() ?></p>
                        </div>
                        <div class="recipe_content_left-column_time_cook">
                            <p class="usg_text usg_text-times"><span class="usg_text-times--text">Cook:</span> <?= $recipe->getCookingTimeToString() ?></p>
                        </div>
                        <div class="recipe_content_left-column_time_cook">
                            <p class="usg_text usg_text-times"><span class="usg_text-times--text">Degré de difficulté:</span>Facile</p>
                        </div>

                    </div>

                    <div class="recipe_content_left-column_ingredients">
                        <div class="recipe_content_left-column_ingredients_title">
                            <h3 class="usg_text usg_text-title">Ingredients</h3>
                            <ul class="usg_list recipe_content_left-column_ingredients_list">
                                <?php foreach($recipe->getIngredients() as $ingredient): ?>
                                <li class="usg_list_item recipe_content_left-column_ingredients_list_item usg_text-regular">
                                    <span class="recipe_content_left-column_ingredients_list_item_main"><?= $ingredient ?></span>
                                </li>
                                <?php endforeach ?>
                            </ul>
                        </div>
                    </div>
                </div>
                <?php foreach($recipe->getSubRecipes() as $subRecipe): ?>
                <div class="recipe_content_right-column">
                    <div class="recipe_content_right-column_description">
                        <h3 class="usg_text usg_text-title"><?= $subRecipe->getTitle() ?></h3>
                        <ol class="usg_list recipe_content_right-column_steps_list">
                            <?php foreach($subRecipe->getInstructions() as $key => $instruction): ?>
                            <li class="usg_list_item recipe_content_right-column_steps_list_item"><?= $instruction ?></li>
                            <?php endforeach ?>
                        </ol>
                    </div>
                </div>
                <?php endforeach ?>
                <div class="recipe_content_right-column_features">
                    <ul class="usg_list recipe_content_right-column_features_list">
                        <li class="usg_list_item recipe_content_right-column_features_list_item">Dégustez</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>


    <div class="feedback-form">
        <h2>Vous avez aimez?</h2>
        <form id="feedbackForm">
            <div class="rating">
                <!--étoile -->
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5">&#9733;</label>
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4">&#9733;</label>
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3">&#9733;</label>
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2">&#9733;</label>
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1">&#9733;</label>
            </div>
            <div class="comment">
                <label for="comment">Partagez nous votre avis !</label><br>
                <textarea id="comment" name="comment"></textarea>
            </div>
            <button type="submit" class="submit-btn">Envoyer</button>
        </form>
    </div>



    <!-- commentaire Principal -->
    <div class="comments-container">
        <h1>Commentaire<a href="http://creaticode.com"></a></h1>

        <ul id="comments-list" class="comments-list">
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>

                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Bruno Jemenfou</a></h6>
                            <span>il y a 20 minute</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Vraiment très bon. Mon mari est intolérant à la caséine (produits laitiers), on a remplacé le beurre par de l’huile de coco et ça va super bien
                        </div>
                    </div>
                </div>
                <!-- 2em commantaire -->
                <ul class="comments-list reply-list">
                    <li>
                        <!-- Avatar -->
                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>

                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">Lena Batlesreins</a></h6>
                                <span>il y a 10 minute</span>
                                <i class="fa fa-reply"></i>
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="comment-content">
                                J'ai beaucoup aimé le faire seul et avec mes enfants
                                La plupart du temps j'en fait est je me régale
                                Parfait , merci beaucoup
                            </div>
                        </div>
                    </li>

                    <li>
                        <!-- Avatar -->
                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>

                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Bruno Jemenfou</a></h6>
                                <span>Il y a 9 minute</span>
                                <i class="fa fa-reply"></i>
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="comment-content">
                                Recette parfaite !
                                A mi-chemin entre le moelleux et le fondant, nous l'avons dégusté avec de la crème anglaise.
                                C'est un régal
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://creaticode.com/blog">Lena Batlesreins</a></h6>
                            <span>il y a 7 minute</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Trop bon! Je le fais met dans un moule à cake et je laisse cuire 5 à 10 minutes de plus en surveillant la cuisson pour ne pas qu'il soit brulé.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
